<header class="bg-white border-b border-border">
    <div class="container">
        <nav class="flex justify-between items-center py-4">
            <div class="flex gap-4">
                <a href="{{basePath}}categories.html" class="px-3 py-1.5 rounded-md text-sm transition-colors hover:bg-gray-100 {{#if isCategories}}bg-primary text-white hover:bg-primary/90{{/if}}">By Category</a>
                <a href="{{basePath}}authors.html" class="px-3 py-1.5 rounded-md text-sm transition-colors hover:bg-gray-100 {{#if isAuthors}}bg-primary text-white hover:bg-primary/90{{/if}}">By Author</a>
                <a href="{{basePath}}index.html" class="px-3 py-1.5 rounded-md text-sm transition-colors hover:bg-gray-100 {{#if isIndex}}bg-primary text-white hover:bg-primary/90{{/if}}">All Books</a>
            </div>
            <div>
                <a href="http://kohlhofer.com" class="text-primary no-underline hover:underline">A. Kohlhofer's bookshelf</a>
            </div>
        </nav>
    </div>
</header>
