<header>
    <div class="container">
        <nav class="main-nav">
            <div class="nav-left">
                <a href="./categories.html" class="nav-link {{#if isCategories}}active{{/if}}">By Category</a>
                <a href="./authors.html" class="nav-link {{#if isAuthors}}active{{/if}}">By Author</a>
                <a href="./index.html" class="nav-link {{#if isIndex}}active{{/if}}">All Books</a>
            </div>
            <div class="nav-right">
                <a href="http://kohlhofer.com" class="bookshelf-link">A. Kohlhofer's bookshelf</a>
            </div>
        </nav>
    </div>
</header>
