{{> search-section}}

<div class="bookshelf-container">
    <div class="shelf-row">
        {{#each books}}
        {{> book-spine this}}
        {{/each}}
    </div>
</div>

<div class="text-center text-secondary mt-8">
    <p>Showing <span id="filteredCount">{{books.length}}</span> of {{totalBooks}} books</p>
</div>
