<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - A. Kohlhofer's Bookshelf</title>
    <link rel="stylesheet" href="{{assetPath}}style.css">
</head>
<body class="bg-gray-50 min-h-screen">
    {{> header}}
    
    <main class="container px-4 sm:px-6 lg:px-8 py-4 sm:py-8">
        {{{body}}}
    </main>
    
    {{> footer}}
    
    {{#if includeScripts}}
    <script src="{{assetPath}}script.js"></script>
    {{/if}}
</body>
</html>
