<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - A. Kohlhofer's Bookshelf</title>
    <link rel="stylesheet" href="{{basePath}}style.css">
</head>
<body class="bg-background min-h-screen">
    {{> header}}
    
    <main class="container py-8">
        {{{body}}}
    </main>
    
    {{> footer}}
    
    {{#if includeScripts}}
    <script src="{{basePath}}script.js"></script>
    {{/if}}
</body>
</html>
